INFLUXDB_URL=http://host.docker.internal:8086
INFLUXDB_TOKEN=iPvLvPdA761wPkQMa_f3ByT23UIdZ9i6Cb8uL9YrNNM5dnToujwFjbDAB6IbIF8VBIJPbOrM1yWGnHjwpbCXpg==
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=sensor_data
POLL_INTERVAL_SECONDS=1